<form data-contact-search="form" class="form-search dropdown pull-right">
    <input id="searchText" data-contact-search="input" type="search" class="form-control dropdown-toggle" placeholder="Search" autocomplete="off">
</form>
