<div class="row clearfix">
    <div id="paginator-top" class="inline-block"></div>
    <div id="contact-search" class="inline-block contact-search-input"></div>
</div>
<div class="row clearfix">
    <div id="contact-list" class="col-md-12 column contact-list"></div>
</div>
<div class="row clearfix">
    <div id="paginator-bottom"></div>
</div>