<div class="row clearfix">
    <div id="paginator-top" class="col-md-6 column"></div>
    <div id="contact-search" class="col-md-6 column contact-search-input"></div>
</div>
<div class="row clearfix">
    <div id="contact-list" class="col-md-12 column contact-list"></div>
</div>
<div class="row clearfix">
    <div id="paginator-bottom" class="col-md-12 column"></div>
</div>