<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contacts</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-header-link="index"><a href="#">Home</a></li>
                <li data-header-link="add"><a href="#add">Add Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-header-link="about"><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Client</li>
                        <li><a href="http://marionettejs.com/" target="_blank">Backbone Marionette</a></li>
                        <li><a href="https://github.com/marionettejs/backbone.marionette" target="_blank">Backbone Marionette GitHub</a></li>
                        <li><a href="http://backbonejs.org/" target="_blank">Backbone.js</a></li>
                        <li><a href="http://underscorejs.org/" target="_blank">Underscore.js</a></li>
                        <li><a href="http://api.jquery.com/" target="_blank">jQuery API Docs</a></li>
                        <li><a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap 3 - GitHub</a></li>
                        <li><a href="http://getbootstrap.com/getting-started/" target="_blank">Bootstrap 3 - Guide</a></li>
                        <li><a href="http://startbootstrap.com/" target="_blank">Bootstrap Template examples @ Start Bootstrap</a></li>
                        <li><a href="http://bower.io/" target="_blank">Bower Package Manager</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Server</li>
                        <li><a href="http://nodejs.org/api/" target="_blank">Node.js API Docs</a></li>
                        <li><a href="http://expressjs.com/api.html" target="_blank">express</a></li>
                        <li><a href="http://nginx.org/en/docs/" target="_blank">NGINX Docs</a></li>
                        <li><a href="http://docs.mongodb.org/manual/" target="_blank">mongoDB Docs</a></li>
                        <li><a href="https://github.com/mafintosh/mongojs" target="_blank">mongojs GitHub</a></li>
                        <li><a href="http://mongoosejs.com/" target="_blank">mongoose</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">This Project</li>
                        <li><a href="https://github.com/mtimmermann/Contacts.Marionette.UI" target="_blank">Contacts.Marionette.UI</a></li>
                        <li><a href="https://github.com/mtimmermann/Contacts.Marionette.App" target="_blank">Contacts.Marionette.App</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>